# Assignment 3

### Write a Python program to detect ALL the missing values. Explain those missing values and how you should handle them based on what youâ€™ve learnt in this module.

In [14]:
# Import Libraries
import csv
import pandas as pd
import numpy as np

### The first function is for establishing the dataframe.

In [15]:
# Function to Read in File and set data to Pandas DataFrame
def file_to_df(filename):
    df = pd.read_csv(filename)
    print('Here is the original DataFrame Imported from the provided file:\n')
    print(df, end='\n\n')
    return df

### This next function allows for the analysis of the null or NaN values in the dataframe

In [16]:
# Function to analzye DataFrame for Null or NaN values
def analyze_nulls(df):
    print('The is a boolean table showing "TRUE" where a Null/NaN exists in the Dataframe:\n')
    print(df.isna(), end='\n\n')
    print('This shows the sum number of null/NaN values in each column:\n')
    print(df.isna().sum(), end='\n\n')

### After having identified the null/NaN values and visually identifying additional errors the necessary fixes for cleaning the data were identified and established within a single function.  Multiple dataframe cleaning methods were used for demonstration purposes. The values used are based on the following justifications:

#### PID - The value missing is a Primary Identification value that is chronological to all other records in the table
#### ST_NUM - Values should be three digit integers, chose replacement values arbitrarily
#### OWN_OCCUPIED - Values should be "Y" or "N" chose replacement values arbitrarily
#### NUM_BEDROOMS - Values should be single digit integers, chose replacement values arbitrarily
#### NUM_BATHS - Values should be single digit integers or doubles ending in '.5', chose replacement values arbitrarily
#### SQ_FT - Values should be integers representing square footage, chose replacement values arbitrarily

In [17]:
def cleaning_df(df):
    # All NA values that can be replaced in mass per column can be cleaned using this method
    values = {'PID': 100005000, 'OWN_OCCUPIED': 'Y', 'NUM_BATH': 1.5, 'SQ_FT': 675}
    df.fillna(value=values, inplace=True)

    # The replace() method can be used to replace values in a column by identifying the value to be replaced and the column name
    df_clean= df.replace({'OWN_OCCUPIED':{'12':'N'}, 'NUM_BEDROOMS':{'na': 4}, 'NUM_BATH':{'HURLEY': 2}, 'SQ_FT':{'--': 950}})

    # The loc method can be used to select individual values from a dataframe by identifying the index and column name
    # it can then be replaced by setting the location equal to a new values
    df_clean.loc[2, 'NUM_BEDROOMS'] = 2
    df_clean.loc[5, 'NUM_BEDROOMS'] = 1
    df_clean.loc[2, 'ST_NUM'] = 199
    df_clean.loc[6, 'ST_NUM'] = 211


    #Set Percision of values in the dataframe to 0 decimal places
    pd.set_option('display.float_format', lambda x: '%.0f' % x)
    #df_clean.round(decimals=0)

    # Prints the New Clean DF
    print('Here is the completed and clean dataframe:\n')
    print(df_clean)
    return(df_clean)

In [18]:
def main():
    # Establish File Path
    filename = "StevenHunt_Mod3_data\mod_3_data.csv"

    # Generate DataFrame through function
    df = file_to_df(filename)

    # Analyze for Null/NaN values
    analyze_nulls(df)

    # Cleans the data and prints the new DF
    df_clean = cleaning_df(df)


main()

Here is the original DataFrame Imported from the provided file:

        PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0 100001000     104      PUTNAM            Y            3        1  1000
1 100002000     197   LEXINGTON            N            3      1.5    --
2 100003000     NaN   LEXINGTON            N          NaN        1   850
3 100004000     201    BERKELEY           12            1      NaN   700
4       NaN     203    BERKELEY            Y            3        2  1600
5 100006000     207    BERKELEY            Y          NaN        1   800
6 100007000     NaN  WASHINGTON          NaN            2   HURLEY   950
7 100008000     213     TREMONT            Y            1        1   NaN
8 100009000     215     TREMONT            Y           na        2  1800

The is a boolean table showing "TRUE" where a Null/NaN exists in the Dataframe:

     PID  ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False   False    False         False         False     False  False
1  False   False    False         False         False     False  False
2  False    True    False         False          True     False  False
3  False   False    False         False         False      True  False
4   True   False    False         False         False     False  False
5  False   False    False         False          True     False  False
6  False    True    False          True         False     False  False
7  False   False    False         False         False     False   True
8  False   False    False         False         False     False  False

This shows the sum number of null/NaN values in each column:

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    1
NUM_BEDROOMS    2
NUM_BATH        1
SQ_FT           1
dtype: int64

Here is the completed and clean dataframe:

        PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0 100001000     104      PUTNAM            Y            3        1  1000
1 100002000     197   LEXINGTON            N            3      1.5   950
2 100003000     199   LEXINGTON            N            2        1   850
3 100004000     201    BERKELEY            N            1        2   700
4 100005000     203    BERKELEY            Y            3        2  1600
5 100006000     207    BERKELEY            Y            1        1   800
6 100007000     211  WASHINGTON            Y            2        2   950
7 100008000     213     TREMONT            Y            1        1   675
8 100009000     215     TREMONT            Y            4        2  1800

## The final table is cleaner and does not contain values that would cause error in analysis.